button.navbar{
    outline:none;
    border:none;
    background:none;
    padding-right:40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

}
button.navbar:hover{
    background-color: rgb(233, 233, 233);
    cursor:pointer;
}
